<div #container class="calendar_container">
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="525" #cd>
    <p-footer>
      <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>
  <app-truck-event-dialog *ngIf="(allBars$ | async).displayEventForm" visible="true" [currentStartTime]="curStartTime" [currentEndTime]="curEndTime"></app-truck-event-dialog>

  <p-schedule [events]="eventList$ | async" [header]="header" [defaultDate]="getDate()" defaultView='agendaWeek' slotDuration="01:00"
    [eventLimit]="false" [weekends]="false" minTime="8:00" maxTime="20:00" height='auto' [droppable]="true" (onDayClick)="handleDayClick($event)"
    [eventRender]="handleEventRender" (onEventClick)="handleEventClick($event)" (drop)="drop($event)" [editable]="false" [nowIndicator]="true"
    [allDaySlot]="false">

  </p-schedule>
</div>